<!DOCTYPE html>
<html>
<body>
	<form name="search" action ="/uploader" method ="POST" enctype = "multipart/form-data">
		<label> <b>Device_name:</b></label>
		<input type="text" name="device" >
		<label><b>Start_DateTime:</b></label>
		<input type="text" name="date1" >
		<label><b>End_DateTime:</b></label>
		<input type="text" name="date2">
		<input type="submit" value="submit">
	<h1> </h1>
    <h1> </h1>
    <h1> </h1>

    <br><br><br><br>

    <h1 style="font-family: arial, sans-serif">How do I get the input data?</h1>
    <h1></h1>
    <h2 style="font-family: arial, sans-serif">Device</h2>
    <h2></h2>
    <h3 style="font-family: arial, sans-serif"> Each client has a unique device naming. Use the common device name for Device
    Eg: 'POWDRCOPPERMT' </h3>
    <h2 style="font-family: arial, sans-serif">Start and End Times</h2>
    <h2></h2>
    <h3></h3>
    <h3 style="font-family: arial, sans-serif"> Start time and End time represents events Start and End time
    	<br>
    	StartDate and EndDate follows a specifc format which is a combination of Date and Time in Central Time
    Eg:	'2020-12-12T02:00:00' 
    </h3>
	</form>
</body>
</html>
